nav {
    /*margin: 27px auto 0;*/

    position: relative;
    /*width: 590px;*/
    height: 65px;
    background-color: black;
    /*border-radius: 8px;*/
    font-size: 0;
}
nav a {
    line-height: 70px;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    color: white;
    transition: all .5s ease 0s;
    /*border-radius: 8px;*/
}
a:nth-child(1) {
    width: 100px;
}
a:nth-child(2) {
    width: 110px;
}
a:nth-child(3) {
    width: 100px;
}
a:nth-child(4) {
    width: 160px;
}
a:nth-child(5) {
    width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background: linear-gradient(#FF4B2B, #FF416C);
}
nav .start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background: linear-gradient(#FF4B2B, #FF416C);
}
nav .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background: linear-gradient(#FF4B2B, #FF416C);
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background: linear-gradient(#FF4B2B, #FF416C);
}
nav .start-contact, a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background: linear-gradient(#FF4B2B, #FF416C);
}

